<section class="section" id="reservation">
    <div class="container">
            <div class="col-lg-12">
                <div class="contact-form">
                    <form id="contact" #myFct="ngForm" (ngSubmit)="SaveFaculty(myFct)" novalidate>
                      <div class="row">
                        <div class="col-lg-12">
                            <h4>Register Faculty</h4>
                        </div>
                        <div class="col-lg-6 col-sm-12">
                          <fieldset>
                            <input name="firstName" type="text" id="name" placeholder="FirstName*" required="" ngModel>
                          </fieldset>
                        </div>
                        <div class="col-lg-6 col-sm-12">
                            <fieldset>
                              <input name="lastName" type="text" id="lname" placeholder="LastName*" required="" ngModel>
                            </fieldset>
                          </div>
                        <div class="col-lg-6 col-sm-12">
                          <fieldset>
                          <input name="email" type="text" id="email" pattern="[^ @]*@[^ @]*" placeholder="Email Address" required="" ngModel>
                        </fieldset>
                        </div>
                        <div class="col-lg-6 col-sm-12">
                          <fieldset>
                            <input name="contact" type="text" id="phone" placeholder="Phone Number*" required="" ngModel>
                          </fieldset>
                        </div>
                        <div class="col-lg-6 col-sm-12">
                            <fieldset>
                              <input name="course" type="text" id="phone" placeholder="Course" required="" ngModel>
                            </fieldset>
                          </div>
                          <div class="col-lg-6 col-sm-12">
                            <fieldset>
                              <input name="branch" type="text" id="phone" placeholder="Branch" required="" ngModel>
                            </fieldset>
                          </div>
                          <div class="col-lg-6 col-sm-12">
                            <fieldset>
                              <input name="module" type="text" id="phone" placeholder="Module" required="">
                            </fieldset>
                          </div>
                        
                        <div class="col-lg-6">
                            <div id="filterDate2">    
                              <div class="input-group date" data-date-format="dd/mm/yyyy">
                                <input name="joindate" id="date" type="date" class="form-control" placeholder="dd/mm/yyyy">
                                <div class="input-group-addon" >
                                  <span class="glyphicon glyphicon-th"></span>
                                </div>
                              </div>
                            </div>   
                        </div>
                        <div >
                          <fieldset>
                            <button type="submit"  [disabled]="!myFct.valid">Submit</button>
                          </fieldset>
                        </div>
                      </div>
                    </form>
                </div>
            </div>
        </div>
</section>
