<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>

<footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <h6>About</h6>
          <p class="text-justify">Seed Infotech <i> WANTS TO BE SIMPLE </i> is an initiative  to help the upcoming programmers with the code. Seed focuses on providing the most efficient courses. We will help programmers build up concepts in different programming languages that include C, C++, Java, HTML, CSS, Bootstrap, JavaScript, PHP, Android, SQL and Algorithm.</p>
          <h3>Contact : 9370556213</h3>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Address</h6>
          <p>‘Nalanda’, Opp. Gandhi Lawns, Near ICICI Bank, Beside Dr. Kalmadi Shamarao High School, Gulawani Maharaj Road, Erandawana, Pune-411004, Maharashtra (INDIA)</p>
                  
        </div>

        <div id="map">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3782.3110292498977!2d73.80631927511108!3d18.560011282541275!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2bf3900000001%3A0xf810ef910f4d6f93!2sSEED%20Infotech%20Ltd.%20-%20Aundh!5e0!3m2!1sen!2sin!4v1685268763499!5m2!1sen!2sin" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          
        </div>

         </div>
      <hr>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">Copyright &copy; 2017 All Rights Reserved by 
       <a href="#">Seed Infotech</a>.
          </p>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
          <ul class="social-icons">
            <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
            <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>   
          </ul>
        </div>
      </div>
    </div>
</footer>



<!-- &#128222;   Mobile Emoji -->