<section class="section main-banner" id="top" data-section="section1">
    <video autoplay muted loop id="bg-video" loop="loop" autoplay="1" preload="auto">
       <source src="assets\background.mp4" type="video/mp4" />
   </video> 
 
   <div class="video-overlay header-text">
       <div class="container" style="text-align: center; margin-left: 100px;">
         <div class="row">
           <div class="col-lg-12">
             <div class="caption">
           <h6>Hello Students</h6>
           <h2>Welcome to SEED INFOTECH</h2>
                 <p>Learn with Real Work-Ex. Join the best product-based companies with guaranteed placement.</p>
                 <br>
               <p>
                 Master QA Automation Testing through practical work experience of building professional projects inspired by real-world scenarios.
                 </p><br>
                 
             <p>Gain hands-on exposure to key automation testing skills and technologies like Web UI Testing,
 API Testing, Performance Testing, DevOps, Selenium & more.</p>
            </div>
           </div>
         </div>
       </div>
   </div>
   
 </section>
 