<head>
  <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
</head>
<section class="heading-page header-text" id="top">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h6>"To be a Centre of Excellence for Seed Infotech, Training and Research in Information Technologies for creating Proficient, Motivated Professionals with Ample Employment Prospects Leading to Enrichment of Nation's Human Capital".</h6>
        <h2>We provide the best courses with our faculties</h2>
      </div>
    </div>
  </div>
</section>


    <div style="margin-right: -200px;">

      
      <!-- <div style="margin-left:750px; margin-top:-25px;"><img src="assets/banner-right-image.png"></div> -->
</div>


   
    



<div style="height:1000px; background-image: url(assets/meetings-page-bg.jpg);">
  <br><br><br><br><br>
    <div class="card" style="margin-left:30px;">
    <div class="wrapper">
          <div class="color black">
            CORE JAVA
            <span class="hex"><img src="assets/testing.png" alt="" style="height: 20px; width: 50px;"></span>
          </div>
          <div class="color eerie-black">
            Course
            <span class="hex">Testing</span>
          </div>
          <div class="color chinese-black">
            Date
            <span class="hex">Weekend</span>
          </div>
          <div class="color night-rider">
            Time
            <span class="hex">09:00 AM</span>
          </div>
          <div class="color chinese-white">
            Branch
            <span class="hex">Aundh</span>
          </div>
          <div class="color anti-flash-white">
            Trainer
            <span class="hex">ABC</span>
          </div>
          <div class="color white">
            Mobile
            <span class="hex">9370552147</span>
          </div>
    
    </div>


    <div class="card">
        <div class="wrapper">
            <div class="color black">
              MANUAL TESTING
              <span class="hex"><img src="assets/testing.png" alt="" style="height: 20px; width: 50px;"></span>
            </div>
              <div class="color eerie-black">
                Course
                <span class="hex">Selenium</span>
              </div>
              <div class="color chinese-black">
                Date
                <span class="hex">22/06/2023</span>
              </div>
              <div class="color night-rider">
                Time
                <span class="hex">10:00 AM</span>
              </div>
              <div class="color chinese-white">
                Branch
                <span class="hex">Aundh</span>
              </div>
              <div class="color anti-flash-white">
                Trainer
                <span class="hex">ABC</span>
              </div>
              <div class="color white">
                Mobile
                <span class="hex">9385558177</span>
              </div>
        
    </div>
    </div>
    </div>

    <div class="card" style="margin-left: 400px; margin-top:-2px;">
        <div class="wrapper">
              <div class="color black">
                DATABASE
                <span class="hex"><img src="assets/data.png" alt="" style="height: 20px; width: 50px;"></span>
              </div>
              <div class="color eerie-black">
                Course
                <span class="hex">SDET</span>
              </div>
              <div class="color chinese-black">
                Date
                <span class="hex">01/06/2023</span>
              </div>
              <div class="color night-rider">
                Time
                <span class="hex">11:00 AM</span>
              </div>
              <div class="color chinese-white">
                Branch
                <span class="hex">Aundh</span>
              </div>
              <div class="color anti-flash-white">
                Trainer
                <span class="hex">ABC</span>
              </div>
              <div class="color white">
                Mobile
                <span class="hex">9385558177</span>
              </div>
</div>
    

    
        <div class="card">
            <div class="wrapper">
              <div class="color black">
                PYTHON
                <span class="hex"><img src="assets/python.png" alt="" style="height: 20px; width: 30px;"></span>
              </div>
              <div class="color eerie-black">
                Course
                <span class="hex">Testing</span>
              </div>
              <div class="color chinese-black">
                Date
                <span class="hex">06/06/2023</span>
              </div>
               <div class="color night-rider">
                Time
                <span class="hex">01:00 PM</span>
              </div>
              <div class="color chinese-white">
                Branch
                <span class="hex">Aundh</span>
              </div>
              <div class="color anti-flash-white">
                Trainer
                <span class="hex">ABC</span>
              </div>
              <div class="color white">
                Mobile
                <span class="hex">8300085477</span>
              </div>
        </div>
        </div>
        
    
        <div class="card" style="margin-left: 400px; margin-top:-345px;">
            <div class="wrapper">
              <div class="color black">
                HIBERNATE
                <span class="hex"><img src="assets/data.png" alt="" style="height: 20px; width: 50px;"></span>
              </div>
              <div class="color eerie-black">
                Course
                <span class="hex">SQL</span>
              </div>
              <div class="color chinese-black">
                Date
                <span class="hex">25/06/2023</span>
              </div>
               <div class="color night-rider">
                Time
                <span class="hex">1:00 PM</span>
              </div>
              <div class="color chinese-white">
                Branch
                <span class="hex">Aundh</span>
              </div>
              <div class="color anti-flash-white">
                Trainer
                <span class="hex">ABC</span>
              </div>
              <div class="color white">
                Mobile
                <span class="hex">7015475177</span>
                </div>
                </div>
        
            <div class="card">
                <div class="wrapper">
                  <div class="color black">
                    SPRING
                    <span class="hex"><img src="assets/testing.png" alt="" style="height: 20px; width: 50px;"></span>
                  </div>
                  <div class="color eerie-black">
                    Course
                    <span class="hex">FSD</span>
                  </div>
                  <div class="color chinese-black">
                    Date
                    <span class="hex">25/06/2023</span>
                  </div>
                   <div class="color night-rider">
                    Time
                    <span class="hex">09:00 PM</span>
                  </div>
                  <div class="color chinese-white">
                    Branch
                    <span class="hex">Aundh</span>
                  </div>
                  <div class="color anti-flash-white">
                    Trainer
                    <span class="hex">ABC</span>
                  </div>
                  <div class="color white">
                    Mobile
                    <span class="hex">8578451177</span>
                  </div>
            </div>
            </div>
            
            
            <div class="card" style="margin-left: 400px; margin-top: -344px;">
                <div class="wrapper">
                  <div class="color black">
                    DATABASE
                    <span class="hex"><img src="assets/data.png" alt="" style="height: 20px; width: 50px;"></span>
                  </div>
                  <div class="color eerie-black">
                    Course
                    <span class="hex">SQL</span>
                  </div>
                  <div class="color chinese-black">
                    Date
                    <span class="hex">09/06/2023</span>
                  </div>
                   <div class="color night-rider">
                    Time
                    <span class="hex">1:00 PM</span>
                  </div>
                  <div class="color chinese-white">
                    Branch
                    <span class="hex">Aundh</span>
                  </div>
                  <div class="color anti-flash-white">
                    Trainer
                    <span class="hex">ABC</span>
                  </div>
                  <div class="color white">
                    Mobile
                    <span class="hex">9085789577</span>
                  </div>
                  </div>
            
                <div class="card">
                    <div class="wrapper">
                      <div class="color black">
                        C
                        <span class="hex"><img src="assets/testing.png" alt="" style="height: 20px; width: 50px;"></span>
                      </div>
                      <div class="color eerie-black">
                        Course
                        <span class="hex">FSD</span>
                      </div>
                      <div class="color chinese-black">
                        Date
                        <span class="hex">09/06/2023</span>
                      </div>
                       <div class="color night-rider">
                        Time
                        <span class="hex">02:00 PM</span>
                      </div>
                      <div class="color chinese-white">
                        Branch
                        <span class="hex">Aundh</span>
                      </div>
                      <div class="color anti-flash-white">
                        Trainer
                        <span class="hex">ABC</span>
                      </div>
                      <div class="color white">
                        Mobile
                        <span class="hex">9785458177</span>
                      </div>
            
                    
                </div>
               <div> 
            <br><br><br>
           
                
        
