<head>
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
</head>
  <section class="heading-page header-text" id="top">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h6>"To be a Centre of Excellence for Seed Infotech, Training and Research in Information Technologies for creating Proficient, Motivated Professionals with Ample Employment Prospects Leading to Enrichment of Nation's Human Capital".</h6>
          <h2>Journey Towards Success</h2>
        </div>
      </div>
    </div>
</section>

<section style="height: 100%; margin-top: 150px;">
<div>
  <div class="container h-100">
    <div class="row align-middle">
      <div class="col-md-6 col-lg-4 column">
        <div class="card gr-1">
          <div class="txt">
            <img src="../../assets/japu image.jpg" style="height: 150px; width: 150px;">
            <div style="text-align: center; margin-top: -120px; margin-right: -100px;"> 
                <h6>Japali Kharosekar</h6>
                <h6>Company:Google</h6>
                <h6>15 LPA</h6>
                <h6>B.tech</h6>
            </div>
            <div style="margin-top: 50px;">
                <p>The transformation at SEED enabled me to be strong, face difficulties with a positive attitude, be calm and patient, and have good development skills. Professors in SEED are the best mentors and you can approach them even beyond regular modules hours</p>
            </div>
          </div>
        </div>
      </div>
      
      
      <div class="col-md-6 col-lg-4 column">
        <div class="card gr-2">
          <div class="txt">
            <img src="../../assets/rushi.jpg" style="height: 150px; width: 150px;">
            <div style="text-align: center; margin-top: -120px; margin-right: -100px;"> 
                <h6>Rushikesh Mhaske</h6>
                <h6>Company:Wipro</h6>
                <h6>8 LPA</h6>
                <h6>Comp-sci</h6>
            </div>
            <div style="margin-top: 50px;">
                <p>I consider myself absolutely lucky to have learn from SEED. It helped me grow immensely and made me who I am today. For me, what makes SEED a wonderful experience is the diversity and freedom provided to students. It helped me accelerate my career growth.</p>
            </div>
        </div>
        </div>
      </div>
      
      <div class="col-md-6 col-lg-4 column">
        <div class="card gr-3">
          <div class="txt">
            <img src="../../assets/sonika.png" style="height: 150px; width: 150px;">
            <div style="text-align: center; margin-top: -120px; margin-right: -100px;"> 
                <h6>Sonika Singh</h6>
                <h6>Company:TCS</h6>
                <h6>10 LPA</h6>
                <h6>Comp-App</h6>
            </div>
            <div style="margin-top: 50px;">
                <p>SEED is the institute where you can be yourself and explore things without any fear or hesitation. The opportunities you get here are beyond expectations. The placement cell in this institution is doing a great job by inviting the companies for campus placement. </p>
            </div>
        </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-4 column">
        <div class="card gr-3">
          <div class="txt">
            <img src="../../assets/abhi.jpeg" style="height: 150px; width: 150px;">
            <div style="text-align: center; margin-top: -120px; margin-right: -100px;"> 
                <h6>Abhishek Jadhav</h6>
                <h6>Company:Infosys</h6>
                <h6>12 LPA</h6>
                <h6>Mechanical</h6>
            </div>
            <div style="margin-top: 50px;">
                <p>My journey in SEED can be described as a transformative experience that helped me shape my goals, values. It has helped me prepare for upcoming challenges and opportunities. The placement process is the highlight of SEED which commenced my corporate journey.</p>
            </div>
        </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-4 column">
        <div class="card gr-3">
          <div class="txt">
            <img src="../../assets/trush.jpeg" style="height: 150px; width: 150px;">
            <div style="text-align: center; margin-top: -120px; margin-right: -100px;"> 
                <h6>Trushant Bhalerao</h6>
                <h6>Company:IBM</h6>
                <h6>15 LPA</h6>
                <h6>Bsc Physics</h6>
            </div>
            <div style="margin-top: 50px;">
                <p>I'm thankful to SEED for providing me a platform where I was able to hone my skills, develop myself and emerge out with flying colours. SEED has always been supportive throughout my journey.The faculty members have rich experience in both the Industry and Academics</p>
            </div>
        </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-4 column">
        <div class="card gr-3">
          <div class="txt">
            <img src="../../assets/taran.jpg" style="height: 150px; width: 150px;">
            <div style="text-align: center; margin-top: -120px; margin-right: -100px;"> 
                <h6>Taranjeet Dhariwal</h6>
                <h6>Company:Acccenture</h6>
                <h6>11 LPA</h6>
                <h6>Comp Sci</h6>
            </div>
            <div style="margin-top: 50px;">
                <p>SEED offers an exceptional platform and a bundle of opportunities to grow. To begin with, I lacked confidence and suffered from stage fear, but SEED helped me overcome them. SEED follows a practical way of learning rather than a theoretical way.</p>
            </div>
        </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-4 column">
        <div class="card gr-3">
          <div class="txt">
            <img src="../../assets/tohina.jpg" style="height: 150px; width: 150px;">
            <div style="text-align: center; margin-top: -120px; margin-right: -100px;"> 
                <h6>Tohina Bopche</h6>
                <h6>Company:Cybage</h6>
                <h6>10 LPA</h6>
                <h6>Mechanical</h6>
            </div>
            <div style="margin-top: 50px;">
                <p>Enrolling myself in SEED has been one of the best decisions I have ever made. The faculty members of SEED are highly qualified. SEED has an immediate impact on the way I approach my day professionally. My confidence level was elevated significantly which helped me achieve my personal and professional goals.</p>
            </div>
        </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-4 column">
        <div class="card gr-3">
          <div class="txt">
            <img src="../../assets/vrishali.JPG" style="height: 150px; width: 150px;">
            <div style="text-align: center; margin-top: -120px; margin-right: -100px;"> 
                <h6>Vrishali Kore</h6>
                <h6>Company:Prime</h6>
                <h6>11 LPA</h6>
                <h6>Comp Sci</h6>
            </div>
            <div style="margin-top: 50px;">
                <p>I consider myself absolutely lucky to have graduated from SEED. It helped me grow immensely and made me who I am today. For me, what makes SEED a wonderful experience is the diversity and freedom provided to students. This helped me accelerate my career growth and build strong people management skills.</p>
            </div>
        </div>
        </div>
      </div>


      <div class="col-md-6 col-lg-4 column">
        <div class="card gr-3">
          <div class="txt">
            <img src="../../assets/shitole.png" style="height: 150px; width: 150px;">
            <div style="text-align: center; margin-top: -120px; margin-right: -100px;"> 
                <h6>Sheetal Shitole</h6>
                <h6>Company:Acccenture</h6>
                <h6>11 LPA</h6>
                <h6>Comp Sci</h6>
            </div>
            <div style="margin-top: 50px;">
                <p>The extra effort put in by each and every faculty member to be there to address and assist with the queries that we would have was commendable. Irrespective of whether those queries were subject-related or industry updates, everything was addressed to keep us updated on what we should concentrate on</p>
            </div>
        </div>
        </div>
      </div>


            
    </div>
  </div>
</div>
</section>
<br><br><br><br><br><br><br><br><br><br><br><br>
<!-- <app-carousel></app-carousel> -->

