<head>
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
</head>
  <section class="heading-page header-text" id="top">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h6>"To be a Centre of Excellence for Seed Infotech, Training and Research in Information Technologies for creating Proficient, Motivated Professionals with Ample Employment Prospects Leading to Enrichment of Nation's Human Capital".</h6>
          <h2>Best Courses</h2>
        </div>
      </div>
    </div>
  </section>


  <section class="meetings-page" id="meetings">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-12">
              <div class="meeting-single-item">
                <div class="thumb">
                  <div class="price">
                    <span>40,000/-</span>
                  </div>
                  <div class="date">
                    <h6>Jun <span>21</span></h6>
                  </div>
                  <img src="https://www.keenesystems.com/hubfs/Pillar/asp.net-development/asp-net-3.jpg" alt="" style="width:1297px; height: 300px;">
                </div>
                <div class="down-content">
                  <h4>Seed Infotech</h4>
                  <p>Anandaghan Bldg, Office No. 4, 2 nd Floor, ITI Rd, above Oriental Bank Lane, Parihar Chowk, Aundh, Pune, Maharashtra 411007</p>
                  <p class="description">
                    
                    <br>Microsoft .NET is a Framework which provides a common platform to Execute and Run the applications developed in various programming languages. It supports various types of applications, such as Windows-based applications and Web-based applications. The code based on the .NET Framework can integrate with any other code.
                    <br><br>
                    C# is a general purpose object-oriented programming language with features to make programs more robust. It is a highly ranked programming language and combines the best features of Visual Basic, C++ and Java. ASP.NET is an effective and flexible technology for creating interactive and dynamic web pages. It was developed by Microsoft to allow programmers to build dynamic web sites, web applications and web services.<br><br>
                    
                    Various Job Oriented Diploma Courses offered in .Net are :<br>
                    1. Master Diploma in Full Stack .Net Developer
                  <br>2. Advanced Diploma in Full Stack .Net Developer
                  <br>3. Diploma in .Net Technologies
                  <div class="row">
                    <div class="col-lg-4">
                      <div class="hours">
                        <h5>Hours</h5>
                        <p>Monday - Friday: 07:00 AM - 07:00 PM<br>Saturday- Sunday: 09:00 AM - 15:00 PM</p>
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="location">
                        <h5>Location</h5>
                        <p>Anandaghan Bldg, Office No. 4, 2 nd Floor, ITI Rd, above Oriental Bank Lane, Parihar Chowk, 
                        <br>Aundh, Pune, Maharashtra 411007</p>
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="book now">
                        <h5>Enroll Now</h5>
                        <p>020-020-0340<br>020-080-0760</p>
                      </div>
                    </div>
                      </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


