<head>
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
</head>
  <section class="heading-page header-text" id="top">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h6>"To be a Centre of Excellence for Seed Infotech, Training and Research in Information Technologies for creating Proficient, Motivated Professionals with Ample Employment Prospects Leading to Enrichment of Nation's Human Capital".</h6>
          <h2>Best Courses</h2>
        </div>
      </div>
    </div>
  </section>


  <section class="meetings-page" id="meetings">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-12">
              <div class="meeting-single-item">
                <div class="thumb">
                  <div class="price">
                    <span>40,000/-</span>
                  </div>
                  <div class="date">
                    <h6>Jun <span>12</span></h6>
                  </div>
                  <img src="https://www.simplilearn.com/ice9/free_resources_article_thumb/full-stack-developer.jpg" alt="" style="width:1297px; height: 300px;">
                </div>
                <div class="down-content">
                  <h4>Seed Infotech</h4>
                  <p>Anandaghan Bldg, Office No. 4, 2 nd Floor, ITI Rd, above Oriental Bank Lane, Parihar Chowk, Aundh, Pune, Maharashtra 411007</p>
                  <p class="description">
                    Aspiring to be a Java developer? <br>Join SEED INFOTECH to become a successful Java developer, and deliver better value to your employer and your clients!
                    
                    <br><br>Java is amongst the most extensively used programming languages. It enforces an object-oriented programming model, and is considered to be fast, reliable, and a secure. Programmers use Java to create applications running on a single computer, or across multiple systems distributed across clients and server in a network.
                    <br><br>
                    Why you must learn Java?<br>- One of the most widely used programming languages across the globe.
                  <br>- One of the oldest and continually evolving programming languages
                  <br>- Earn a higher salary with Java - up to 12-15 lakh INR annually after 5-7 years of experience!
                  <br>- A massive community support base to support learning and application.
<br><br>What can you learn out of Seed infotech Java Training Course?

<br>- Exception handling during application development.

<br>- Application creation and implementation

<br>- Processing JDBC Connection and Database sum-up

<br>- Learning application programming like multi-threading and string-handling.

<br>- Code in Java's latest version.
                  <div class="row">
                    <div class="col-lg-4">
                      <div class="hours">
                        <h5>Hours</h5>
                        <p>Monday - Friday: 07:00 AM - 07:00 PM<br>Saturday- Sunday: 09:00 AM - 15:00 PM</p>
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="location">
                        <h5>Location</h5>
                        <p>Anandaghan Bldg, Office No. 4, 2 nd Floor, ITI Rd, above Oriental Bank Lane, Parihar Chowk, 
                        <br>Aundh, Pune, Maharashtra 411007</p>
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="book now">
                        <h5>Enroll Now</h5>
                        <p>020-020-0340<br>020-080-0760</p>
                      </div>
                    </div>
                      </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

